body {
    background-color: #eededed8;
}

input {
    width: 100%;
    padding: 4px;
    margin: 5px;
}

select {
    padding: 3px;
}

.container {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px 40px 20px 30px;    
}

fieldset {
    background-color: #eedeea;
    padding: 10px 30px 20px 10px;
    border-radius: 5px;
}

legend {
    background-color: rgb(193, 146, 146);
    color: white;
    padding: 5px 10px;    
}

button {    
    border: none;    
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
      
}

.salvar {
    background-color: white;
    color: green;
    border: 1px solid green;    
}

.salvar:hover {
    background-color: green;
    color: white;    
}

.cancelar {
    background-color: white;
    color: red;
    border: 1px solid red;    
}

.cancelar:hover {
    background-color: red;
    color: white;
}

.voltar {
    background-color: white;
    color: brown;
    border: 1px solid brown; 
}

.voltar:hover {
    background-color: brown;
    color: white;
}

