<nav class="container-fluid bg-dark ps-5">
    <a class="btn btn-primary m-2" routerLink="home"><i class="align-middle material-icons">home</i></a>
    <a class="btn btn-primary m-2" routerLink="login">Login</a>
    <a *ngIf="userLogado.perfil=='ADM'" class="btn btn-primary m-2" routerLink="cadastroProduto">Produto</a>
    <a *ngIf="userLogado.perfil=='ADM' || userLogado.perfil=='USUARIO'" class="btn btn-primary m-2" routerLink="carrinho">Carrinho</a>    
    <label class="text-warning">{{ userLogado.email}}</label>
</nav> 
<router-outlet></router-outlet>